/* You can add global styles to this file, and also import other style files */
html {
  background-image: url("logo.png");

  min-height: 100%;
  min-width: 100%;

  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(191,191,191,255);
}

  table,td,th {
  border: 2px solid;
  border-color: #000000;
  background-color: #7a7a7aeb;
  border-collapse: separate;
  border-spacing: 2em;
  width: 100%;
  text-align: left;
  font-size: 30px;
  color: #ffffff;
  margin-left: auto;
  overflow: hidden;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


