table, tr{
    table-layout: fixed;
    width: 100%;
}

td{
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    max-width: auto;
}

img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 700px;
}
