<table>
    <tr>
        <img src="done room.jpeg" width="30%" height="30%">
        <img src="done room 2.jpeg" width="30%" height="30%">
        <img src="landscape.jpeg" width="30%" height="30%">
    </tr>
</table>

<table>
    <tr>
        <td><h1>Before:</h1></td>
        <td><h1>After:</h1></td>
    </tr>

    <tr>
        <td><img src="dirty bathroom.jpeg" width="85%" height="85%"></td>
        <td><img src="after.jpeg" width="70%" height="70%"></td>
    </tr>

    <tr>
        <td><img src="work less started.jpeg"></td>
        <td><img src="bathroom 2.jpeg"></td>
    </tr>

    <tr>
        <td><img src="floor in more progress.jpeg"></td>
        <td><img src="floor in progress.jpeg"></td>
    </tr>

    <tr>
        <td><img src="work start.jpeg"></td>
        <td><img src="Bathroom.jpeg" width="80%" height="80%"></td>
    </tr>

    <tr>
        <td><img src="done floor.jpeg"></td>
        <td><img src="floor.jpeg"></td>
    </tr>

</table>