<table>
    <tr>
        <td><img src="done room.jpeg"></td>
        <td><img src="done room 2.jpeg"></td>
        <td><img src="landscape.jpeg"></td>
    </tr>
</table>

<table>
    <tr>
        <td><h2>Before:</h2></td>
        <td><h2>After:</h2></td>
    </tr>

    <tr>
        <td><img src="dirty bathroom.jpeg"></td>
        <td><img src="after.jpeg"></td>
    </tr>

    <tr>
        <td><img src="work less started.jpeg"></td>
        <td><img src="bathroom 2.jpeg"></td>
    </tr>

    <tr>
        <td><img src="floor in more progress.jpeg"></td>
        <td><img src="floor in progress.jpeg"></td>
    </tr>

    <tr>
        <td><img src="work start.jpeg"></td>
        <td><img src="Bathroom.jpeg"></td>
    </tr>

    <tr>
        <td><img src="done floor.jpeg"></td>
        <td><img src="floor.jpeg"></td>
    </tr>

</table>